<template>
<div class="person-skill">
  <span class="icon">
    <i class="fa fa-5x" :class="getIcon(skill)" aria-hidden="true"></i>
  </span>
  <span class="name">{{skill.name}}</span>
  <span class="level">{{getLevel(skill)}}</span>
</div>
</template>

<script>
export default {
  name: 'person-skill',
  props: ['skill'],
  methods: {
    getIcon(skill) {
      if (skill.icon) {
        return `fa-${skill.icon}`;
      }
      return 'fa-code';
    },
    getLevel(skill) {
      const level = skill.level;
      if (!level) {
        return '';
      }
      switch (level) {
        case 'consultant': return 'Consultant';
        case 'teacher': return 'Teacher';
        case 'leader': return 'Leader'
        default: return 'Novice';
      }
    }
  }
}
</script>

<style scoped>
  .icon {
    display: block;
  }
  .name {
    font-size: .95rem;
    display: block;
  }
  .level {
    color: #666;
    font-size: .9rem;
    display: block;
  }
</style>
