<template>
<div class="person-skills">

  <div class="row">
    <div v-for="skill in skills" class="col-4 text-center">
      <person-skill :skill="skill" />
    </div>
  </div>

</div>
</template>

<script>
import PersonSkill from './PersonSkill';

export default {
  name: '',
  components: {
    PersonSkill
  },
  data() {
    return {
      skills: [
        {
          name: 'HTML5',
          icon: 'html5',
          level: 'teacher'
        },
        {
          name: 'ElasticSearch',
          icon: false,
          level: 'consultant'
        },
        {
          name: 'CSS',
          icon: 'css3',
          level: 'teacher'
        },
        {
          name: 'JavaScript',
          icon: false,
          level: 'leader'
        },
        {
          name: 'Git',
          icon: 'git',
          level: 'consultant'
        },
        {
          name: 'Rust',
          icon: false,
          level: 'novice'
        }
      ]
    };
  }
}
</script>
