<template>
<div class="container">

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-4">
              <img src="~assets/silhouette.jpg" class="avatar" />
            </div>
            <div class="col-6">
              <h1>Ryan Rampersad</h1>
              <h4><small class="text-muted">Software Engineer 2 &ndash; Consultant</small></h4>
              <h4><small class="text-muted">Currently on team <strong>The Experts</strong></small></h4>
              <h4><small class="text-muted">Currently engaged with <strong>Cargill</strong></small></h4>
            </div>
          </div>
        </div>  
      </div> 
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#summary" role="tab">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#skills" role="tab">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#interests" role="tab">Interests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#engagements" role="tab">Engagements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#resume" role="tab">Resume</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active text-center" id="summary" role="tabpanel">
              Imagine a summary
            </div>
            <div class="tab-pane" id="engagements" role="tabpanel">
              <person-engagements />
            </div>
            <div class="tab-pane" id="skills" role="tabpanel">
              <person-skills />
            </div>
            <div class="tab-pane text-center" id="interests" role="tabpanel">
              Imagine a list of interests
            </div>
            <div class="tab-pane text-center" id="resume" role="tabpanel">
              Imagine a resume
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
</template>

<script>
import PersonSkills from './PersonSkills';
import PersonEngagements from './PersonEngagements';

export default {
  name: 'person-view',
  components: {
    PersonSkills,
    PersonEngagements
  }
}
</script>

<style>
.avatar {
  width: 250px;
}
.card {
  margin-bottom: 1rem;
}
</style>
