<template>
<div class="person-engagements">

<table class="table table-striped">
  <thead>
    <tr>
      <td>Client Name</td>
      <td>Project Name</td>
      <td>Engagement Duration</td>
    </tr>
  </thead>
  <tbody>
    <tr v-for="engagement in engagements">
      <td>{{engagement.clientName}}</td>
      <td>{{engagement.projectName}}</td>
      <td>{{engagement.duration}}</td>
    </tr>
  </tbody>
</table>

</div>
</template>

<script>
export default {
  name: 'person-engagements',
  data() {
    return {
      engagements: [
        {
          clientName: 'HID',
          projectName: 'PALogic',
          duration: '1 month'
        },
        {
          clientName: 'HID',
          projectName: 'PDMP',
          duration: '9 months'
        },
        {
          clientName: 'HID',
          projectName: 'PALogic',
          duration: '1 month'
        },
        {
          clientName: 'Cargill',
          projectName: 'Prototype',
          duration: '3 months'
        }
      ]
    };
  }
}
</script>
