<template>
<div class="card">
  <div class="card-block" @click.self="card.editing = true">
    <div class="float-right">
      <a class="swap-button" @click="moveCard(cardIndex, lane, laneIndex, -1)">←</a>
      <a class="swap-button" @click="moveCard(cardIndex, lane, laneIndex, 1)">→</a>
    </div>
    <h4 @click.self="card.editing = true">{{ card.name || 'no name' }}</h4>
    <p>{{ card.desc }}</p>
  </div>
  <div class="card-block" v-if="card.editing">
    <div class="form-group">
      <label>Card name</label>
      <input type="text" class="form-control" placeholder="New card task..." v-model="card.name">
    </div>
    <div class="form-group">
      <label>Card description</label>
      <input type="text" class="form-control" placeholder="New card description" v-model="card.desc">
    </div>
    <button class="btn float-left btn-success" @click="card.editing = false">Save</button>
    <a class="btn float-right" @click="deleteCard(cardIndex, lane)">Delete</a>
  </div>
</div>
</template>

<script>
export default {
  name: 'kanban-card',
  props: ['card', 'cardIndex', 'lane', 'laneIndex'],
  methods: {
    moveCard(cardIndex, lane, laneIndex, lr) {
      this.$emit('moveCard', cardIndex, lane, laneIndex, lr);
    },
    deleteCard(cardIndex, lane) {
      this.$emit('deleteCard', cardIndex, lane);
    }
  }
}
</script>

<style scoped>
  .card {
    margin-bottom: 1rem;
    box-shadow: 1px 2px 3px rgba(0,0,0,.15);
  }
</style>
