<template>
<div class="simple-kanban">

  <div class="container">
    <div class="row">
      
      <div class="col" v-for="(lane, laneIndex) in lanes">
        <h3 class="text-center">{{ lane.name }} <button class="btn" @click="addBlankCard(lane)">+</button></h3>        
        <div class="cards">
          <transition-group name="fade">
            <kanban-card
              v-for="(card, cardIndex) in lane.cards"

              :key="card.key"
              :card="card"
              :cardIndex="cardIndex"
              :lane="lane"
              :laneIndex="laneIndex"
              
              @moveCard="moveCard"
              @deleteCard="deleteCard"
              />
          </transition-group>
        </div>
      </div>
      
    </div>
    <hr />

    <div class="row bottom">
      <div class="col">
        <div class="form-inline">
          <input type="text" class="form-control" placeholder="Lane name..." v-model="laneName">
          &nbsp;
          <button type="submit" class="btn btn-primary" @click="addLane">Add Lane</button>
        </div>
      </div>
    </div>
    
  </div>

</div>
</template>

<script>
import KanbanCard from '@/components/kanban/KanbanCard';

const util = {
  getKey() {
    return Date.now() + Math.round(Math.random() * 10000);
  }
};

export default {
  name: 'simple-kanban-view',
  components: {
    KanbanCard
  },
  methods: {
    addLane() {
      let name = this.laneName !== '' ? this.laneName : `Lane ${this.lanes.length + 1}`;
      const lane = {
        key: util.getKey(),
        name: name,
        cards: []
      };
      this.lanes = [...this.lanes, lane];
      this.laneName = '';
    },
    addBlankCard(currentLane) {
      const card = {
        key: util.getKey(),
        name: '',
        desc: '',
        editing: false
      };
      currentLane.cards.push(card);
    },
    moveCard(cardIndex, lane, laneIndex, lr) {
      const offset = laneIndex + lr;
      if (offset < 0 || offset >= this.lanes.length) { return; }
      const removedCard = lane.cards.splice(cardIndex, 1);
      const adjecentLane = this.lanes[offset];
      adjecentLane.cards.push(removedCard[0]);
    },
    deleteCard(cardIndex, lane) {
      lane.cards.splice(cardIndex, 1);
    }
  },
  data() {
    return {
      laneName: '',
      lanes: [
        {
          key: util.getKey(),
          name: 'Backlog',
          cards: [
            {
              key: util.getKey(),
              name: 'VueJS hack night',
              desc: 'write the content',
              editing: false
            }
          ]
        }
      ]
    };
  }
}
</script>

<style>
.simple-kanban {
  margin-top: 1rem;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
</style>
