<template>
  <div class="home h100 d-flex align-items-center">
    
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>{{title}}</h1>
          <h3>{{message}}</h3>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      title: 'Hack Night Vue Demo Project',
      message: 'Welcome'
    }
  }
}
</script>

