<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import 'bootstrap';
import 'tether';

export default {
  name: 'app'
}
</script>

<style lang="scss">
@import "src/scss/main.scss";
</style>
